{% extends "base.html" %}
{% load static %}

{% block title %}Service Detail{% endblock %}

{% block content %}
<section class="py-8 bg-white">
    <div class="max-w-6xl mx-auto px-12">
        <!-- Heading & Image -->
        <div class="grid md:grid-cols-2 gap-10 items-center" data-aos="fade-right">
            <h1 class="text-4xl sm:text-5xl font-bold mb-6 text-gray-900 leading-tight">
                {{ service.title }}
            </h1>
            <div class="rounded-xl shadow-xl overflow-hidden" data-aos="fade-left" data-aos-delay="100">
                <img src="{{ service.image.url }}" alt="{{ service.title }}" class="w-full h-64 object-cover">
            </div>
        </div>
        <div class="py-4" data-aos="fade-right" data-aos-delay="100">
            <div class="text-gray-700 text-md space-y-4 leading-relaxed">
                {% for paragraph in service.description.splitlines %}
                    {% if paragraph %}
                        <p>{{ paragraph }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
